.iot-device-card {
    width: 12.5rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius-organism);
    padding: var(--padding-molecule);

    &[data-selection-status="false"] {
        background-color: var(--card-bg-default);
        cursor: pointer;

        &:hover {
            background-color: var(--card-bg-hover);
        }
    }

    &[data-selection-status="true"] {
        background-color: var(--card-bg-selected);
        cursor: default;
        transform: var(--transform-translate-y-card);
        box-shadow: var(--shadow-selected);
        transition: var(--transition-translate-y-card), var(--transition-background-color);
    }

    > header {
        margin-left: auto;
    }

    /* status: logged in */
    &[data-status-code="205"] {

        > header {
            color: var(--color-logged-in);
        }
    }

    /* status: streaming sensor data */
    &[data-status-code="252"] {

        > header {
            color: var(--color-streaming);
        }
    }
}
