.iot-device-list-panel {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: var(--gap-simple-organism);
    justify-items: center; */

    display: flex;
    gap: var(--gap-simple-organism);
}
