.mqtt-topic-path {
    --mqtt-span-1-bg: #4da6ff;
    --mqtt-span-2-bg: #5cd65c;
    --mqtt-span-3-bg: #b366ff;
    --mqtt-span-n4-bg: #33cccc;
    --mqtt-span-last-bg: #66cc66;

    width: fit-content;
    color: var(--text-color);
    border-radius: var(--border-radius-molecule);
    overflow: hidden;

    > span {
        &:nth-child(1) {
            background-color: var(--mqtt-span-1-bg);
        }

        &:nth-child(3) {
            background-color: var(--mqtt-span-2-bg);
        }

        &:nth-child(5) {
            background-color: var(--mqtt-span-3-bg);
        }

        &:nth-child(n+7) {
            &:not(.mqtt-topic-breadcrumb-separator) {
                background-color: var(--mqtt-span-n4-bg);
            }

            &:last-child {
                background-color: var(--mqtt-span-last-bg);
            }
        }

        &:nth-child(even) {
            background-color: #999999;
        }
    }

    @media (prefers-color-scheme: dark) {
        --mqtt-span-1-bg: #336699;
        --mqtt-span-2-bg: #339933;
        --mqtt-span-3-bg: #663399;
        --mqtt-span-n4-bg: #226666;
        --mqtt-span-last-bg: #267326;
    }
}
