.sensors-readings-panel {
    display: flex;

    > .metric-item {
        flex: 1;

        &:first-child {
            color: var(--icon-humidity);
        }

        &:last-child {
            color: var(--icon-temperature);
        }
    }
}
