.mqtt-client-properties-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: var(--gap-organism);

    > .icon-stat {

        > .svg-icon {
            color: var(--color-mqtt-client-property);
        }
    }
}
