.icon-stat {
    display: flex;
    align-items: center;
    background-color: var(--pill-bg-highlight);
    padding: var(--padding-molecule);
    border-radius: var(--border-radius-molecule);

    > .stat-item {
        padding-left: var(--padding-molecule-medium);
    }
}
