.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-organism);
    text-align: center;

    > .heading {
        margin-bottom: var(--margin-atom);
    }
}
