.svg-icon {
    width: 4rem;
    height: 4rem;

    &.small {
        width: 2rem;
        height: 2rem;
    }

    &.medium {
        width: 3.5rem;
        height: 3.5rem;
    }

    &.large {
        width: 5rem;
        height: 5rem;
    }

    > svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}
