.svg-icon {

    &.tiny {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.small {
        width: 2rem;
        height: 2rem;
    }

    &.regular {
        width: 2.5rem;
        height: 2.5rem;
    }

    &.medium {
        width: 3.5rem;
        height: 3.5rem;
    }

    &.large {
        width: 5rem;
        height: 5rem;
    }

    > svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}
