.node-card {
    width: 12.5rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius-organism);
    padding: var(--padding-molecule);

    /* not selected (default) */
    background-color: var(--card-bg-default);
    cursor: pointer;

    &:hover {
        background-color: var(--card-bg-hover);
    }

    &.selected {
        background-color: var(--card-bg-selected);
        cursor: default;
        transform: var(--transform-translate-y-card);
        box-shadow: var(--shadow-selected);
        transition: var(--transition-translate-y-card), var(--transition-background-color);
    }

    > header {
        margin-left: auto;
    }

    /* node state code 201 (logged in) */
    &[data-node-state-code="201"] {

        > header {
            color: var(--color-logged-in);
        }
    }

    /* node state code 301 (idle) */
    &[data-node-state-code="301"] {

        > header {
            color: var(--color-logged-in);
        }
    }

    /* node state code 307 (streaming sensors) */
    &[data-node-state-code="307"] {

        > header {
            color: var(--color-streaming);
        }
    }
}
