.connected_sensors_list__property {
	display: flex;
	justify-content: center;
	padding-bottom: var(--gap);
}

.connected_sensors_list__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	gap: var(--gap);
	justify-items: center;
}
