.identity-info-panel {

    > .svg-icon {
        margin-bottom: var(--margin-atom);
        color: var(--icon-state-node);
    }

    > div {
        display: flex;
        justify-content: space-between;

        > .stat-item {
            align-self: self-end;
        }

        > .svg-icon {
            margin-left: var(--margin-atom);
            color: var(--icon-color);
        }
    }
}
