.controls-toolbar {

    > ul {
        display: flex;
        justify-content: space-between;
        border-top: solid var(--border-width-medium);
        padding-top: var(--padding-molecule-medium);
        border-color: #5a606d;
        list-style: none;
    }

    > ul {

        > li {

            &.item-command-terminal {
                color: var(--icon-command-terminal);
            }

            &.item-power {
                color: var(--icon-power);
            }

            &.item-monitoring {
                color: var(--icon-monitoring);
            }

            &:hover {
                cursor: var(--toolbar-icon-cursor);
                filter: var(--toolbar-icon-filter);
            }
        }
    }
}
