.iot-device-control-panel {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &.selected {

        > li {

            &:hover {
                filter: var(--filter-hover);
                cursor: pointer;
            }
        }
    }

    > li {

        &.item-terminal,
        &.item-analytics {
            color: var(--color-sensor-control);
        }

        &.item-mode-active-paused {

            &.active {
                color: var(--color-paused);
            }

            &.paused {
                color: var(--color-connected);
            }
        }
    }
}
