.paragraph {
    line-height: 1.5em;
    color: var(--text-color);

    &.body {
        font-size: 1rem;
    }

    &.lead {
        font-size: 1.25rem;
    }

    &.caption {
        font-size: 0.875rem;
    }
}
