.state-info-header {
    display: flex;
    align-items: center;
    gap: var(--gap-molecule);

    > .svg-icon {

        &:first-child {
            color: var(--icon-health);
        }

        &:last-child {
            color: var(--icon-streaming);
        }
    }
}
