.device-management {
    width: min(100%, 80rem);
    margin: 0 auto;

    > .iot-device-count-panel {
        width: min(100%, 15rem);
        margin: auto;
        padding-bottom: var(--padding-organism);
    }
}
