.heading {
    color: var(--text-color);

    &.h1 {
        font-size: 2rem;
    }

    &.h2 {
        font-size: 1.25rem;
    }

    &.h3 {
        font-size: 1rem;
    }

    &.h4 {
        font-size: 0.875rem;
    }

    &.h5 {
        font-size: 0.75rem;
    }

    &.h6 {
        font-size: 0.625rem;
    }
}
