.subscribed-topics-details {
    background-color: var(--pill-bg-highlight);
    padding: 0 0 0 var(--padding-molecule);
    border-radius: var(--border-radius-molecule);

    &::details-content {
        display: block;
        block-size: 0;
        overflow: hidden;
        transition-property: block-size, content-visibility;
        transition-duration: 0.5s;
        transition-behavior: allow-discrete;
    }

    &[open]::details-content {
        block-size: auto;
        block-size: calc-size(auto, size);
        padding-bottom: var(--padding-molecule);
    }

    > summary {
        padding: var(--padding-molecule) 0;

        &:hover {
            cursor: pointer;
        }
    }

    > ul {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}
