.subscribed-topics-details {

    > .details {

        > ul {
            display: flex;
            flex-direction: column;
            gap: var(--gap-molecule);
            padding: var(--padding-molecule);
        }
    }
}
