.iot-device-card {
    width: 12rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius-organism);
    background-color: var(--card-bg-default);
    padding: var(--padding-molecule);
    cursor: pointer;


    &.selected {
        background-color: var(--card-bg-selected);
        transform: var(--transform-translate-y-card);
        box-shadow: var(--shadow-selected);
        transition: var(--transition-translate-y-card), var(--transition-background-color);
        cursor: default;

        &:hover {
            background-color: var(--card-bg-selected);
        }
    }

    &:hover {
        background-color: var(--card-bg-hover);
    }

    > header {
        margin-left: auto;

        &.sensors {
            color: var(--color-connected);
        }

        &.sensors-off {
            color: var(--color-disconnected);
        }
    }

    > .iot-device-card__device-id {

        > .svg-icon {
            margin-bottom: var(--margin-atom);
        }

        > div {
            display: flex;
            justify-content: space-between;

            > .stat-item {
                align-self: self-end;
            }

            > .svg-icon {
                margin-left: var(--margin-atom);
                color: var(--icon-color);
            }
        }

        &.active {

            > .svg-icon {
                color: var(--color-active);
            }
        }

        &.alert {

            > .svg-icon {
                color: var(--color-alert);
            }
        }

        &.idle {

            > .svg-icon {
                color: var(--color-idle);
            }
        }

        &.urgent {

            > .svg-icon {
                color: var(--color-urgent);
            }
        }
    }

    > .iot-device-card__sensor-readings {
        display: flex;
        justify-content: space-around;

        > .metric-item {
            &:first-child {
                color: var(--color-humidity);
            }

            &:last-child {
                color: var(--color-temperature);
            }
        }

    }

    > .iot-device-card__footer {
        border-top: solid var(--border-width-medium);
        padding-top: var(--padding-molecule);
        border-color: #5a606d;
    }
}
