.iot-device-control-panel {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &.unselected {

        > li {
            color: var(--color-registered);

            &:hover {
                cursor: no-drop;
            }
        }
    }

    &.selected {

        > li {

            &.item-terminal,
            &.item-analytics {
                color: var(--color-sensor-control);
            }

            &.item-mode-active-paused {

                &.active {
                    color: var(--color-paused);
                }

                &.paused {
                    color: var(--color-connected);
                }
            }

            &:hover {
                filter: var(--filter-hover);
                cursor: pointer;
            }
        }
    }
}
