.iot-device-card {
    width: 12rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid var(--border-width-thin) var(--border-color);
    border-radius: var(--border-radius-simple-organism);
    padding: var(--padding-molecule);

    > header {
        margin-left: auto;
    }

    > .iot-device-card__device-id {
        > .svg-icon {
            margin-bottom: var(--margin-simple-molecule);
        }
    }

    > .iot-device-card__sensor-readings {
        display: flex;
    }

    > .iot-device-card__footer {
        border-top: solid var(--border-width-thin);
        padding-top: var(--padding-simple-molecule);
    }
}
