.data_tracking {
	height: 200px;
	border: var(--border);
	padding: var(--padding);
	border-radius: var(--border-radius);
	background-color: var(--background-color-prefers-scheme-element);
}

.data_tracking__div {
	height: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
}

.data_tracking__div > .paragraph {
	padding: 0.5rem 0;
}

.data_tracking__scroll {
	height: 2rem;
}
