@font-face {
	font-family: 'IBMPlex-Thin';
	font-display: block;
	src: url('./assets/fonts/IBMPlexSans-Thin.ttf');
}

:root {
	--background-color-prefers-scheme: #f2f1f6;
	--background-color-prefers-scheme-element: #d4dbe2;
	--border-radius: 10px;
	--padding: 10px;
	--border: solid 1px #adaec0;
	--gap: 20px;
	--color-prefers-scheme: #3f3937;
	--color-successful: #00ce0a;
	--color-symbol: #e273d9;
	--color-water: #4285f4;
	--color-fire: #f68769;
	--color-activated: #26b62d;

	/* Not used */
	--color-urgent: #ee9b01;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scrollbar-gutter: stable;
}

body {
	background-color: var(--background-color-prefers-scheme);
	font-family: IBMPlex-Thin;
	min-width: 300px;
	max-width: 900px;
	padding: 0 10px;
	margin: auto;
}

main {
	display: grid;
	gap: 50px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-prefers-scheme: #f2f1f6;
		--background-color-prefers-scheme: #3f3937;
		--background-color-prefers-scheme-element: #7b586b;
	}
}
