@font-face {
    font-family: 'IBMPlex-Thin';
    font-display: block;
    src: url('./assets/fonts/IBMPlexSans-Thin.ttf');
}

:root {
    color-scheme: light dark;

    /* Unused
    --padding-atom: 0.25rem;
    --margin-molecule: 1rem;

    --border-radius-atom: 0.25rem;
    --border-width-thin: 0.05rem;

    --border-width-thick: 0.2rem;

    --border-light: #e0e0e0;
    --border-dark: #4e4e4e;



    Dynamic color scheme

    --border-color: #4e4e4e;
    --border-color: #e0e0e0;

    */

    --margin-atom: 0.5rem;

    --padding-viewport: 2vw;

    --padding-molecule: 1rem;

    --padding-organism: 2rem;

    --padding-molecule-medium: 0.5rem;

    --gap-organism: 2rem;

    --gap-template: 4rem;

    --border-radius-molecule: 0.5rem;
    --border-radius-organism: 1rem;

    --border-width-medium: 0.15rem;

    --transform-translate-y-card: translateY(-1rem);

    --transition-translate-y-card: transform 0.4s ease;
    --transition-background-color: background-color 0.4s ease;

    --filter-hover: opacity(0.6);

    --shadow-selected: 0 0.4rem 0.5rem 0 #5a5a5a;

    --color-humidity: #5499d1;
    --color-temperature: #e69142;
    --color-connected: #0bac26;
    --color-disconnected: #a9a9a9;
    --color-registered: #616161;
    --color-active: #28a745;
    --color-paused: #9b705c;
    --color-alert: #b99b3f;
    --color-idle: #3995a3;
    --color-urgent: #ff6171;




    /* Dynamic color scheme */

    --bg-body: #e0e0e0;
    --text-color: #2e2e2e;

    --card-bg-default: #c0c0c0;
    --card-bg-hover: #c0c0c0cc;
    --card-bg-selected: #cdcdcd;

    --pill-bg-highlight: #d0d4cc;

    --icon-color: #2f3b47;

    --color-sensor-control: #006377;
    --color-iot: #00819b;
    --color-mqtt-client: #186456;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--bg-body);
    font-family: IBMPlex-Thin_, helvetica;
    padding: 0 var(--padding-viewport);
}

main {
    display: grid;
    gap: var(--gap-template);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-body: #2b2b2b;
        --text-color: #e0e0e0;

        --card-bg-default: #3f3f3f;
        --card-bg-hover: #3f3f3fcc;
        --card-bg-selected: #323232;

        --pill-bg-highlight: #3d3941;

        --icon-color: #e0e0e0;

        --color-sensor-control: #4dd0e1;
        --color-iot: #06dacf;
        --color-mqtt-client: #4acab3;
    }
}
