.logo {
    color: var(--color-icon);
    width: 3rem;
    height: 3rem;

    &.small {
        width: 2rem;
        height: 2rem;
    }

    &.medium {
        width: 4rem;
        height: 4rem;
    }

    &.large {
        width: 6rem;
        height: 6rem;
    }

    > svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}
