.live-mqtt-message-feed {

    > .table {


        > .table__element {

            .table-colgroup {
                .table__column--timestamp {
                    width: 20%;
                }

                .table__column--status-code {
                    width: 15%;
                }

                .table__column--message-summary {
                    width: 65%;
                }
            }

            > .table-header {

                .table-header-cell {
                    &:last-child {
                        text-align: left;
                    }
                }
            }
        }
    }
}
