.live-mqtt-message-feed {

    > .table {


        > .table__element {

            colgroup {
                .table__column--timestamp {
                    width: 20%;
                }

                .table__column--log-summary {
                    width: 70%;
                }
            }

            > .table-header {

                .table-header-cell {
                    &:last-child {
                        text-align: left;
                    }
                }
            }
        }
    }
}
