.details {
    background-color: var(--details-bg-highlight);
    border-radius: var(--border-radius-molecule);

    &::details-content {
        display: block;
        block-size: 0;
        overflow: hidden;
        transition-property: block-size, content-visibility;
        transition-duration: var(--transition-duration);
        transition-behavior: allow-discrete;
    }

    &[open]::details-content {
        block-size: auto;
        block-size: calc-size(auto, size);
    }

    > summary {
        color: var(--text-color);
        padding: var(--padding-molecule);
        border-radius: var(--border-radius-molecule);

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: var(--outline-size-focus) var(--outline-style-focus) var(--outline-color-focus);
        }
    }
}
